@page
@model HorasModel
@using Data

@{
    ViewData["Title"] = "Horas Trabajadas";
}

<div class="text-center">
    <h1 class="display-4">Horas Trabajadas</h1>
</div>
<div>
    <p>
        <a asp-page="./Index">Volver</a>
    </p>
    <p>@Model.Empleado.Rut - @Model.Empleado.Nombre</p>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Total Horas Trabajadas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (EmpleadoHora empleadoHoras in Model.EmpleadoHoras)
            {
                <tr>
                    <th scope="row">@empleadoHoras.Fecha.ToString("dd/MM/yyyy")</th>
                    <td>@empleadoHoras.Horas</td>
                </tr>
            }
        </tbody>
    </table>
</div>